Flask==2.0.1
Flask-Cors
pip~=23.2.1
argparse~=1.4.0
cryptography~=41.0.3
Jinja2~=3.1.2
setuptools~=65.5.0
future~=0.18.3
msal~=1.23.0
mysql~=0.0.3
mysql-connector-python~=8.1.0
requests~=2.31.0
Pillow~=10.0.1
tornado~=6.3.3
app~=0.0.1
SQLAlchemy~=2.0.20
pandas~=2.1.1
fpdf~=1.7.2
weasyprint~=60.1
reportlab~=4.0.5
werkzeug==2.2.2